<head>
  <title>World Class Drinker</title>
  <script src="/js/style.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="css/cover.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat|&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/free.min.css">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <!-- Results Page -->


  <h1>{{finalWinner}} is the winner!!!111</h1>

  {{#pData}}
    <h2>{{this.name}} guessed {{this.wins}} countries' populations better than the rest. The sum of their given populations is {{this.sum}}.</h2>
  {{/pData}}

  <h2>The world population is actually {{totalpop}} people.</h2>

  </div>
</body>