  <head>
    <title>World Class Drinker</title>
    <script src="/js/style.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/cover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat|&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/free.min.css">
  </head>

  <body class="text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">



<!-- Results Page -->


<h1>{{finalWinner}} is the winner!!!111</h1>
<h2>{{p1name}} guessed {{p1wins}} countries' populations better and {{p2name}} guessed {{p2wins}} better.</h2>
<h2>{{p1name}}'s estimate for the world population is {{p1sum}} and {{p2name}}'s is {{p2sum}}, compared to an actual {{totalpop}} people.</h2>